@font-face {
    font-family: HVD_Comic_Serif_Pro;
    src: url(./fonts/HVD_Comic_Serif_Pro.otf);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img_pollo_locco/img/bg_images/3ef226d7-8082-4d4a-b672-81809f508787.webp);
    background-size: cover;
    background-position: center;
    font-family: HVD_Comic_Serif_Pro;
}

canvas {
    background-color: black;
}