body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img_pollo_locco/img/bg_images/3ef226d7-8082-4d4a-b672-81809f508787.webp);
    background-size: cover;
    background-position: center;
}

canvas {
    background-color: black;
}